#:schema https://jj-vcs.github.io/jj/latest/config-schema.json

[ui]
default-command = "log"
pager = "delta"
diff-formatter = ":git"
merge-editor = "vscode"

[git]
sign-commits = true

[signing]
behavior = "own"
backend = "ssh"

[merge-tools.nvim]
program = "nvim"
merge-args = ["-d", "$left", "$base", "$right", "-c", "wincmd J | wincmd ="]

[aliases]
bc = [
  "bookmark",
  "create"
]
bm = [
  "bookmark",
  "move"
]
bmm = [
  "bookmark",
  "move",
  "main"
]
d = [ "describe", ]
de = ["diffedit",]
e = [ "edit", ]
gf = [
  "git",
  "fetch"
]
gp = [
  "git",
  "push"
]
i = [
  "git",
  "init",
  "--colocate"
]
l = [
  "log",
  "-r",
  "(trunk()..@):: | (trunk()..@)-"
]
ll = [
  "log",
  "-r",
  "all()"
]
tug = [
    "bookmark",
    "move",
    "--from",
    "closest_bookmark(@)",
    "--to",
    "closest_pushable(@)",
]
ab = ["abandon"]
append = [
  "new", 
  "-A",
  "@",
]
prepend = [
  "new", 
  "-B",
  "@",
]
ap = [
  "append",
]
pre = [
  "prepend",
]
[revset-aliases]
"closest_bookmark(to)" = "heads(::to & bookmarks())"
"closest_pushable(to)" = "heads(::to & mutable() & ~description(exact:\"\") & (~empty() | merges()))"
